/* * {
    margin: 0;
    padding: 0;
} */


/* #nav {
    transition: 0;
} */

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.header {
    background-color: rgba(54.5%, 27.06%, 7.45%, 0.4);
    font-weight: bold;
    font-size: larger;
}

.api-results {
    font-size: 20px;
    color: saddlebrown;
    border-bottom: 2px dashed black;
}

.clicked-link {
    text-decoration-line: line-through;
}